In [1]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt

In [2]:
# import data
df1= pd.read_csv('Youth_Risk_Behavioral_Surveillance_System__YRBSS__Data.csv')
df2= pd.read_csv('Youth_Tobacco_Survey__YTS__Data (1).csv')

In [3]:
df1

,YEAR,LocationAbbr,LocationDesc,TopicType,TopicDesc,MeasureDesc,SubMeasure,DataSource,Response,Data_Value_Unit,...,GeoLocation,TopicTypeId,TopicId,MeasureId,StratificationID1,StratificationID2,StratificationID3,StratificationID4,SubMeasureID,DisplayOrder
0,1999,MA,Massachusetts,Tobacco Use - Survey Data,Cigarette Use (Youth),Smoking Status,Frequent Cigarette Smoker,YRBSS,Frequent,%,...,"(42.27687047, -72.082690675)",BEH,106BEH,169SSA,1GEN,8AGE,7RAC,2EDU,YRB02,2
1,2005,OH,Ohio,Tobacco Use - Survey Data,Cigarette Use (Youth),Smoking Status,Current Cigarette Smoker,YRBSS,Current,%,...,"(40.060210141, -82.404260056)",BEH,106BEH,169SSA,1GEN,8AGE,1RAC,2EDU,YRB01,1
2,1997,IA,Iowa,Tobacco Use - Survey Data,Smokeless Tobacco Use (Youth),User Status,Current Smokeless Tobacco User,YRBSS,Current,%,...,"(42.469400913, -93.816490556)",BEH,151BEH,168SSP,2GEN,8AGE,6RAC,2EDU,YRB04,1
3,2007,LA,Louisiana,Tobacco Use - Survey Data,Cigar Use (Youth),Smoking Status,Frequent Cigar Smoker,YRBSS,Frequent,%,...,"(31.312660644, -92.445680071)",BEH,153BEH,181CIG,1GEN,8AGE,2RAC,2EDU,YRB10,2
4,2015,ID,Idaho,Tobacco Use - Survey Data,Cigar Use (Youth),Smoking Status,Current Cigar Smoker,YRBSS,Current,%,...,"(43.682630005, -114.363730042)",BEH,153BEH,181CIG,1GEN,8AGE,1RAC,2EDU,YRB09,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38703,2011,MA,Massachusetts,Tobacco Use - Survey Data,Cigarette Use (Youth),Smoking Status,Frequent Cigarette Smoker,YRBSS,Frequent,%,...,"(42.27687047, -72.082690675)",BEH,106BEH,169SSA,2GEN,8AGE,6RAC,2EDU,YRB02,2
38704,2015,KY,Kentucky,Tobacco Use - Survey Data,Smokeless Tobacco Use (Youth),User Status,Frequent Smokeless Tobacco User,YRBSS,Frequent,%,...,"(37.645970271, -84.774971048)",BEH,151BEH,168SSP,1GEN,8AGE,8RAC,1EDU,YRB05,2
38705,1995,MO,Missouri,Tobacco Use - Survey Data,Smokeless Tobacco Use (Youth),User Status,Current Smokeless Tobacco User,YRBSS,Current,%,...,"(38.635790776, -92.566300053)",BEH,151BEH,168SSP,1GEN,8AGE,1RAC,2EDU,YRB04,1
38706,1993,UT,Utah,Tobacco Use - Survey Data,Cigarette Use (Youth),Smoking Status,Frequent Cigarette Smoker,YRBSS,Frequent,%,...,"(39.360700171, -111.587130635)",BEH,106BEH,169SSA,1GEN,8AGE,5RAC,2EDU,YRB02,2
38707,2001,AR,Arkansas,Tobacco Use - Survey Data,Cigarette Use (Youth),Smoking Status,Ever Cigarette Smoker,YRBSS,Ever,%,...,"(34.748650124, -92.274490743)",BEH,106BEH,169SSA,2GEN,8AGE,6RAC,2EDU,YRB03,3

In [4]:
df2

,YEAR,LocationAbbr,LocationDesc,TopicType,TopicDesc,MeasureDesc,DataSource,Response,Data_Value_Unit,Data_Value_Type,...,GeoLocation,TopicTypeId,TopicId,MeasureId,StratificationID1,StratificationID2,StratificationID3,StratificationID4,SubMeasureID,DisplayOrder
0,2004,OH,Ohio,Tobacco Use – Survey Data,Cigarette Use (Youth),Smoking Status,YTS,Ever,%,Percentage,...,"(40.060210141, -82.404260056)",BEH,106BEH,166SSA,1GEN,8AGE,6RAC,1EDU,YTS08,8
1,2008,AL,Alabama,Tobacco Use – Survey Data,Cigarette Use (Youth),Smoking Status,YTS,Ever,%,Percentage,...,"(32.840571122, -86.631860762)",BEH,106BEH,166SSA,3GEN,8AGE,6RAC,2EDU,YTS08,8
2,2015,WV,West Virginia,Tobacco Use – Survey Data,Smokeless Tobacco Use (Youth),User Status,YTS,Frequent,%,Percentage,...,"(38.665510202, -80.712640135)",BEH,151BEH,169USS,2GEN,8AGE,6RAC,2EDU,YTS12,12
3,2005,IL,Illinois,Tobacco Use – Survey Data,Cigarette Use (Youth),Smoking Status,YTS,Ever,%,Percentage,...,"(40.485010283, -88.997710178)",BEH,106BEH,166SSA,1GEN,8AGE,6RAC,1EDU,YTS08,8
4,2005,CT,Connecticut,Tobacco Use – Survey Data,Smokeless Tobacco Use (Youth),User Status,YTS,Ever,%,Percentage,...,"(41.56266102, -72.649840952)",BEH,151BEH,169USS,2GEN,8AGE,6RAC,2EDU,YTS11,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10595,2002,KS,Kansas,Tobacco Use – Survey Data,Smokeless Tobacco Use (Youth),User Status,YTS,Frequent,%,Percentage,...,"(38.3477403, -98.200781227)",BEH,151BEH,169USS,1GEN,8AGE,6RAC,1EDU,YTS12,12
10596,2015,IL,Illinois,Tobacco Use – Survey Data,Cigarette Use (Youth),Smoking Status,YTS,Frequent,%,Percentage,...,"(40.485010283, -88.997710178)",BEH,106BEH,166SSA,2GEN,8AGE,6RAC,2EDU,YTS09,9
10597,2010,WI,Wisconsin,Tobacco Use – Survey Data,Cessation (Youth),Quit Attempt in Past Year Among Current Cigare...,YTS,NaN,%,Percentage,...,"(44.393191174, -89.816370742)",BEH,105BEH,169QUA,3GEN,8AGE,6RAC,1EDU,YTS06,6
10598,2009,LA,Louisiana,Tobacco Use – Survey Data,Cigarette Use (Youth),Smoking Status,YTS,Current,%,Percentage,...,"(31.312660644, -92.445680071)",BEH,106BEH,166SSA,3GEN,8AGE,6RAC,1EDU,YTS07,7
10599,2010,DE,Delaware,Tobacco Use – Survey Data,Cigarette Use (Youth),Smoking Status,YTS,Ever,%,Percentage,...,"(39.008830667, -75.577741168)",BEH,106BEH,166SSA,3GEN,8AGE,6RAC,2EDU,YTS08,8

In [5]:
df1.describe()

,YEAR,Data_Value,Data_Value_Std_Err,Low_Confidence_Limit,High_Confidence_Limit,Sample_Size,DisplayOrder
count,38708.000000,24275.000000,24275.000000,24275.000000,24275.000000,24275.000000,38708.000000
mean,2008.833109,13.715967,1.460470,11.135267,17.332651,1695.411864,1.717629
std,6.553405,16.349020,1.257424,14.885942,17.745373,3069.954989,0.712968
min,1993.000000,0.000000,0.000000,0.000000,0.000000,100.000000,1.000000
25%,2005.000000,2.300000,0.600000,1.200000,4.400000,412.000000,1.000000
50%,2009.000000,7.500000,1.200000,5.100000,11.200000,935.000000,2.000000
75%,2015.000000,18.200000,2.000000,14.400000,23.450000,1705.000000,2.000000
max,2017.000000,95.200000,13.300000,90.500000,97.600000,54795.000000,3.000000

In [6]:
df1.describe(include='O') # '0'  stands for object

,LocationAbbr,LocationDesc,TopicType,TopicDesc,MeasureDesc,SubMeasure,DataSource,Response,Data_Value_Unit,Data_Value_Type,...,Education,GeoLocation,TopicTypeId,TopicId,MeasureId,StratificationID1,StratificationID2,StratificationID3,StratificationID4,SubMeasureID
count,38708,38708,38708,38708,38708,38708,38708,38708,38708,38708,...,38708,38708,38708,38708,38708,38708,38708,38708,38708,38708
unique,51,51,1,5,2,11,1,3,1,1,...,2,51,1,5,5,3,1,8,2,11
top,ND,North Dakota,Tobacco Use - Survey Data,Cigarette Use (Youth),Smoking Status,Frequent Cigarette Smoker,YRBSS,Current,%,Percentage,...,High School,"(47.475319779, -100.118421049)",BEH,106BEH,169SSA,1GEN,8AGE,6RAC,2EDU,YRB02
freq,1440,1440,38708,16270,24778,5678,38708,16846,38708,38708,...,30578,1440,38708,16270,16270,30680,38708,11863,30578,5678

In [7]:
df1.info() #see a summary of the data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38708 entries, 0 to 38707
Data columns (total 32 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   YEAR                        38708 non-null  int64
 1   LocationAbbr                38708 non-null  object
 2   LocationDesc                38708 non-null  object
 3   TopicType                   38708 non-null  object
 4   TopicDesc                   38708 non-null  object
 5   MeasureDesc                 38708 non-null  object
 6   SubMeasure                  38708 non-null  object
 7   DataSource                  38708 non-null  object
 8   Response                    38708 non-null  object
 9   Data_Value_Unit             38708 non-null  object
 10  Data_Value_Type             38708 non-null  object
 11  Data_Value                  24275 non-null  float64
 12  Data_Value_Footnote_Symbol  14433 non-null  object
 13  Data_Value_Footnote         14433 non-null  object
 14  Data_Value_Std_Err          24275 non-null  float64
 15  Low_Confidence_Limit        24275 non-null  float64
 16  High_Confidence_Limit       24275 non-null  float64
 17  Sample_Size                 24275 non-null  float64
 18  Gender                      38708 non-null  object
 19  Age                         38708 non-null  object
 20  Race                        38708 non-null  object
 21  Education                   38708 non-null  object
 22  GeoLocation                 38708 non-null  object
 23  TopicTypeId                 38708 non-null  object
 24  TopicId                     38708 non-null  object
 25  MeasureId                   38708 non-null  object
 26  StratificationID1           38708 non-null  object
 27  StratificationID2           38708 non-null  object
 28  StratificationID3           38708 non-null  object
 29  StratificationID4           38708 non-null  object
 30  SubMeasureID                38708 non-null  object
 31  DisplayOrder                38708 non-null  int64
dtypes: float64(5), int64(2), object(25)
memory usage: 9.5+ MB

In [8]:
df1.columns

Index(['YEAR', 'LocationAbbr', 'LocationDesc', 'TopicType', 'TopicDesc',
       'MeasureDesc', 'SubMeasure', 'DataSource', 'Response',
       'Data_Value_Unit', 'Data_Value_Type', 'Data_Value',
       'Data_Value_Footnote_Symbol', 'Data_Value_Footnote',
       'Data_Value_Std_Err', 'Low_Confidence_Limit', 'High_Confidence_Limit',
       'Sample_Size', 'Gender', 'Age', 'Race', 'Education', 'GeoLocation',
       'TopicTypeId', 'TopicId', 'MeasureId', 'StratificationID1',
       'StratificationID2', 'StratificationID3', 'StratificationID4',
       'SubMeasureID', 'DisplayOrder'],
      dtype='object')

In [9]:
df1 = df1.drop('LocationAbbr', axis=1)

In [10]:
df1.head() #print the first several rows of the data

,YEAR,LocationDesc,TopicType,TopicDesc,MeasureDesc,SubMeasure,DataSource,Response,Data_Value_Unit,Data_Value_Type,...,GeoLocation,TopicTypeId,TopicId,MeasureId,StratificationID1,StratificationID2,StratificationID3,StratificationID4,SubMeasureID,DisplayOrder
0,1999,Massachusetts,Tobacco Use - Survey Data,Cigarette Use (Youth),Smoking Status,Frequent Cigarette Smoker,YRBSS,Frequent,%,Percentage,...,"(42.27687047, -72.082690675)",BEH,106BEH,169SSA,1GEN,8AGE,7RAC,2EDU,YRB02,2
1,2005,Ohio,Tobacco Use - Survey Data,Cigarette Use (Youth),Smoking Status,Current Cigarette Smoker,YRBSS,Current,%,Percentage,...,"(40.060210141, -82.404260056)",BEH,106BEH,169SSA,1GEN,8AGE,1RAC,2EDU,YRB01,1
2,1997,Iowa,Tobacco Use - Survey Data,Smokeless Tobacco Use (Youth),User Status,Current Smokeless Tobacco User,YRBSS,Current,%,Percentage,...,"(42.469400913, -93.816490556)",BEH,151BEH,168SSP,2GEN,8AGE,6RAC,2EDU,YRB04,1
3,2007,Louisiana,Tobacco Use - Survey Data,Cigar Use (Youth),Smoking Status,Frequent Cigar Smoker,YRBSS,Frequent,%,Percentage,...,"(31.312660644, -92.445680071)",BEH,153BEH,181CIG,1GEN,8AGE,2RAC,2EDU,YRB10,2
4,2015,Idaho,Tobacco Use - Survey Data,Cigar Use (Youth),Smoking Status,Current Cigar Smoker,YRBSS,Current,%,Percentage,...,"(43.682630005, -114.363730042)",BEH,153BEH,181CIG,1GEN,8AGE,1RAC,2EDU,YRB09,1

In [11]:
df1=df1.set_index('YEAR')

In [12]:
df1.Data_Value.sort_values(ascending=False).head()

YEAR
1995    95.2
1997    92.0
1995    90.7
1999    89.5
1995    88.5
Name: Data_Value, dtype: float64

In [13]:
df1.Data_Value_Unit.value_counts()

%    38708
Name: Data_Value_Unit, dtype: int64

In [14]:
df1.drop(columns=['DataSource', 'TopicTypeId', 'Data_Value_Type'], inplace=True)

In [15]:
df1.head()

,LocationDesc,TopicType,TopicDesc,MeasureDesc,SubMeasure,Response,Data_Value_Unit,Data_Value,Data_Value_Footnote_Symbol,Data_Value_Footnote,...,Education,GeoLocation,TopicId,MeasureId,StratificationID1,StratificationID2,StratificationID3,StratificationID4,SubMeasureID,DisplayOrder
YEAR,,,,,,,,,,,,,,,,,,,,,
1999,Massachusetts,Tobacco Use - Survey Data,Cigarette Use (Youth),Smoking Status,Frequent Cigarette Smoker,Frequent,%,20.9,NaN,NaN,...,High School,"(42.27687047, -72.082690675)",106BEH,169SSA,1GEN,8AGE,7RAC,2EDU,YRB02,2
2005,Ohio,Tobacco Use - Survey Data,Cigarette Use (Youth),Smoking Status,Current Cigarette Smoker,Current,%,11.8,NaN,NaN,...,High School,"(40.060210141, -82.404260056)",106BEH,169SSA,1GEN,8AGE,1RAC,2EDU,YRB01,1
1997,Iowa,Tobacco Use - Survey Data,Smokeless Tobacco Use (Youth),User Status,Current Smokeless Tobacco User,Current,%,22.4,NaN,NaN,...,High School,"(42.469400913, -93.816490556)",151BEH,168SSP,2GEN,8AGE,6RAC,2EDU,YRB04,1
2007,Louisiana,Tobacco Use - Survey Data,Cigar Use (Youth),Smoking Status,Frequent Cigar Smoker,Frequent,%,NaN,*,Data in these cells have been suppressed becau...,...,High School,"(31.312660644, -92.445680071)",153BEH,181CIG,1GEN,8AGE,2RAC,2EDU,YRB10,2
2015,Idaho,Tobacco Use - Survey Data,Cigar Use (Youth),Smoking Status,Current Cigar Smoker,Current,%,NaN,*,Data in these cells have been suppressed becau...,...,High School,"(43.682630005, -114.363730042)",153BEH,181CIG,1GEN,8AGE,1RAC,2EDU,YRB09,1

In [16]:
df1.TopicType.unique()

array(['Tobacco Use - Survey Data'], dtype=object)

In [17]:
#df1['New_Data_Value']=df1['Data_Value'] + df1['Data_Value_Unit']

In [18]:
df1[['Data_Value_Footnote_Symbol', 'Data_Value_Footnote', 'Data_Value_Std_Err', 'Low_Confidence_Limit','High_Confidence_Limit', 'Sample_Size']].head(50)

,Data_Value_Footnote_Symbol,Data_Value_Footnote,Data_Value_Std_Err,Low_Confidence_Limit,High_Confidence_Limit,Sample_Size
YEAR,,,,,,
1999,NaN,NaN,4.4,13.3,31.3,116.0
2005,NaN,NaN,2.9,7.1,19.1,230.0
1997,NaN,NaN,2.2,18.2,27.4,756.0
2007,*,Data in these cells have been suppressed becau...,NaN,NaN,NaN,NaN
2015,*,Data in these cells have been suppressed becau...,NaN,NaN,NaN,NaN
2009,*,Data in these cells have been suppressed becau...,NaN,NaN,NaN,NaN
2011,NaN,NaN,0.2,0.0,1.0,1209.0
2007,*,Data in these cells have been suppressed becau...,NaN,NaN,NaN,NaN
2015,NaN,NaN,3.9,23.9,40.8,185.0
2007,*,Data in these cells have been suppressed becau...,NaN,NaN,NaN,NaN
2015,NaN,NaN,1.1,12.0,16.6,2351.0
2015,NaN,NaN,3.0,7.6,19.9,409.0
2017,NaN,NaN,2.1,5.5,13.7,193.0
2009,NaN,NaN,0.7,0.4,3.9,229.0
2017,NaN,NaN,2.3,35.2,45.0,1106.0
2015,NaN,NaN,0.1,0.0,0.7,1485.0
2017,NaN,NaN,0.1,0.0,0.5,3345.0
1997,NaN,NaN,3.9,13.4,29.7,185.0
2013,NaN,NaN,0.0,0.0,0.2,3866.0
2017,NaN,NaN,0.7,1.0,4.3,534.0
2017,NaN,NaN,1.2,1.4,6.6,328.0
2017,NaN,NaN,1.0,0.1,10.4,236.0
2017,NaN,NaN,2.4,36.7,46.5,1475.0
2009,NaN,NaN,1.2,13.8,18.8,1412.0
2017,NaN,NaN,0.0,0.0,0.3,204.0
2017,NaN,NaN,0.9,36.0,39.7,5693.0
2017,NaN,NaN,4.5,31.2,49.3,838.0
2017,NaN,NaN,0.1,1.2,1.5,49851.0
2013,NaN,NaN,0.2,0.4,1.4,2016.0
2009,NaN,NaN,1.2,1.3,6.6,695.0
2005,NaN,NaN,0.2,0.6,1.6,1235.0
2017,NaN,NaN,4.3,8.3,26.3,102.0
2017,NaN,NaN,0.6,0.1,4.2,132.0
2017,NaN,NaN,0.4,6.4,7.8,10765.0
2017,NaN,NaN,1.3,25.5,30.6,3529.0
2007,NaN,NaN,2.4,5.3,15.3,622.0
2015,NaN,NaN,0.0,0.0,0.0,148.0
2017,NaN,NaN,0.8,0.7,4.4,778.0
2017,NaN,NaN,0.9,0.3,4.9,167.0
2017,NaN,NaN,2.2,9.7,19.0,394.0
2017,*,Data in these cells have been suppressed becau...,NaN,NaN,NaN,NaN
2017,*,Data in these cells have been suppressed becau...,NaN,NaN,NaN,NaN
2017,NaN,NaN,1.2,6.8,11.9,2844.0
2017,NaN,NaN,2.2,19.8,28.8,310.0
2017,*,Data in these cells have been suppressed becau...,NaN,NaN,NaN,NaN
2017,NaN,NaN,0.2,1.9,2.6,11910.0
2017,*,Data in these cells have been suppressed becau...,NaN,NaN,NaN,NaN
2017,*,Data in these cells have been suppressed becau...,NaN,NaN,NaN,NaN
2017,NaN,NaN,1.2,0.6,6.1,317.0
2017,NaN,NaN,1.2,4.6,9.8,385.0

In [19]:
df1['Data_Value_Footnote_Symbol'].unique()

array([nan, '*'], dtype=object)

In [20]:
df1['Data_Value_Footnote'].unique()

array([nan,
       'Data in these cells have been suppressed because of a small sample size'],
      dtype=object)

In [21]:
df1.drop(columns=['Data_Value_Footnote_Symbol','Data_Value_Footnote'], inplace=True)

In [22]:
df1.head()

,LocationDesc,TopicType,TopicDesc,MeasureDesc,SubMeasure,Response,Data_Value_Unit,Data_Value,Data_Value_Std_Err,Low_Confidence_Limit,...,Education,GeoLocation,TopicId,MeasureId,StratificationID1,StratificationID2,StratificationID3,StratificationID4,SubMeasureID,DisplayOrder
YEAR,,,,,,,,,,,,,,,,,,,,,
1999,Massachusetts,Tobacco Use - Survey Data,Cigarette Use (Youth),Smoking Status,Frequent Cigarette Smoker,Frequent,%,20.9,4.4,13.3,...,High School,"(42.27687047, -72.082690675)",106BEH,169SSA,1GEN,8AGE,7RAC,2EDU,YRB02,2
2005,Ohio,Tobacco Use - Survey Data,Cigarette Use (Youth),Smoking Status,Current Cigarette Smoker,Current,%,11.8,2.9,7.1,...,High School,"(40.060210141, -82.404260056)",106BEH,169SSA,1GEN,8AGE,1RAC,2EDU,YRB01,1
1997,Iowa,Tobacco Use - Survey Data,Smokeless Tobacco Use (Youth),User Status,Current Smokeless Tobacco User,Current,%,22.4,2.2,18.2,...,High School,"(42.469400913, -93.816490556)",151BEH,168SSP,2GEN,8AGE,6RAC,2EDU,YRB04,1
2007,Louisiana,Tobacco Use - Survey Data,Cigar Use (Youth),Smoking Status,Frequent Cigar Smoker,Frequent,%,NaN,NaN,NaN,...,High School,"(31.312660644, -92.445680071)",153BEH,181CIG,1GEN,8AGE,2RAC,2EDU,YRB10,2
2015,Idaho,Tobacco Use - Survey Data,Cigar Use (Youth),Smoking Status,Current Cigar Smoker,Current,%,NaN,NaN,NaN,...,High School,"(43.682630005, -114.363730042)",153BEH,181CIG,1GEN,8AGE,1RAC,2EDU,YRB09,1

In [23]:
df1['StratificationID1'].unique()

array(['1GEN', '2GEN', '3GEN'], dtype=object)

In [24]:
df1['StratificationID2'].unique()

array(['8AGE'], dtype=object)

In [25]:
df1['StratificationID3'].unique()

array(['7RAC', '1RAC', '6RAC', '2RAC', '8RAC', '5RAC', '4RAC', '9RAC'],
      dtype=object)

In [26]:
df1['StratificationID4'].unique()

array(['2EDU', '1EDU'], dtype=object)

In [27]:
df1['SubMeasureID'].unique()

array(['YRB02', 'YRB01', 'YRB04', 'YRB10', 'YRB09', 'YRB05', 'YRB03',
       'YRB06', 'YRB08', 'YRB12', 'YRB07'], dtype=object)

In [28]:
df1.drop(columns=['StratificationID1','StratificationID2','StratificationID3','StratificationID4','SubMeasureID'], inplace=True)

In [29]:
df1.head()

,LocationDesc,TopicType,TopicDesc,MeasureDesc,SubMeasure,Response,Data_Value_Unit,Data_Value,Data_Value_Std_Err,Low_Confidence_Limit,High_Confidence_Limit,Sample_Size,Gender,Age,Race,Education,GeoLocation,TopicId,MeasureId,DisplayOrder
YEAR,,,,,,,,,,,,,,,,,,,,
1999,Massachusetts,Tobacco Use - Survey Data,Cigarette Use (Youth),Smoking Status,Frequent Cigarette Smoker,Frequent,%,20.9,4.4,13.3,31.3,116.0,Overall,All Ages,Multiple Race,High School,"(42.27687047, -72.082690675)",106BEH,169SSA,2
2005,Ohio,Tobacco Use - Survey Data,Cigarette Use (Youth),Smoking Status,Current Cigarette Smoker,Current,%,11.8,2.9,7.1,19.1,230.0,Overall,All Ages,African American,High School,"(40.060210141, -82.404260056)",106BEH,169SSA,1
1997,Iowa,Tobacco Use - Survey Data,Smokeless Tobacco Use (Youth),User Status,Current Smokeless Tobacco User,Current,%,22.4,2.2,18.2,27.4,756.0,Male,All Ages,All Races,High School,"(42.469400913, -93.816490556)",151BEH,168SSP,1
2007,Louisiana,Tobacco Use - Survey Data,Cigar Use (Youth),Smoking Status,Frequent Cigar Smoker,Frequent,%,NaN,NaN,NaN,NaN,NaN,Overall,All Ages,American Indian/Alaska Native,High School,"(31.312660644, -92.445680071)",153BEH,181CIG,2
2015,Idaho,Tobacco Use - Survey Data,Cigar Use (Youth),Smoking Status,Current Cigar Smoker,Current,%,NaN,NaN,NaN,NaN,NaN,Overall,All Ages,African American,High School,"(43.682630005, -114.363730042)",153BEH,181CIG,1

In [30]:
df1[df1.isnull().any(axis=1)]  #check the missing values

,LocationDesc,TopicType,TopicDesc,MeasureDesc,SubMeasure,Response,Data_Value_Unit,Data_Value,Data_Value_Std_Err,Low_Confidence_Limit,High_Confidence_Limit,Sample_Size,Gender,Age,Race,Education,GeoLocation,TopicId,MeasureId,DisplayOrder
YEAR,,,,,,,,,,,,,,,,,,,,
2007,Louisiana,Tobacco Use - Survey Data,Cigar Use (Youth),Smoking Status,Frequent Cigar Smoker,Frequent,%,NaN,NaN,NaN,NaN,NaN,Overall,All Ages,American Indian/Alaska Native,High School,"(31.312660644, -92.445680071)",153BEH,181CIG,2
2015,Idaho,Tobacco Use - Survey Data,Cigar Use (Youth),Smoking Status,Current Cigar Smoker,Current,%,NaN,NaN,NaN,NaN,NaN,Overall,All Ages,African American,High School,"(43.682630005, -114.363730042)",153BEH,181CIG,1
2009,Maryland,Tobacco Use - Survey Data,Cigar Use (Youth),Smoking Status,Frequent Cigar Smoker,Frequent,%,NaN,NaN,NaN,NaN,NaN,Overall,All Ages,American Indian/Alaska Native,High School,"(39.290580964, -76.609260111)",153BEH,181CIG,2
2007,New Hampshire,Tobacco Use - Survey Data,Cigarette Use (Youth),Smoking Status,Ever Cigarette Smoker,Ever,%,NaN,NaN,NaN,NaN,NaN,Male,All Ages,All Races,High School,"(43.655950113, -71.50036092)",106BEH,169SSA,3
2007,Indiana,Tobacco Use - Survey Data,Smokeless Tobacco Use (Youth),User Status,Frequent Smokeless Tobacco User,Frequent,%,NaN,NaN,NaN,NaN,NaN,Overall,All Ages,Asian,High School,"(39.766910452, -86.149960194)",151BEH,168SSP,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2009,Mississippi,Tobacco Use - Survey Data,Cigarette Use (Youth),Smoking Status,Frequent Cigarette Smoker,Frequent,%,NaN,NaN,NaN,NaN,NaN,Overall,All Ages,Pacific Islander,High School,"(32.745510099, -89.538030825)",106BEH,169SSA,2
2009,Mississippi,Tobacco Use - Survey Data,Cigar Use (Youth),Smoking Status,Current Cigar Smoker,Current,%,NaN,NaN,NaN,NaN,NaN,Overall,All Ages,Asian,High School,"(32.745510099, -89.538030825)",153BEH,181CIG,1
2005,West Virginia,Tobacco Use - Survey Data,Cigarette Use (Youth),Smoking Status,Current Cigarette Smoker,Current,%,NaN,NaN,NaN,NaN,NaN,Overall,All Ages,African American,High School,"(38.665510202, -80.712640135)",106BEH,169SSA,1
2001,Vermont,Tobacco Use - Survey Data,Cigar Use (Youth),Smoking Status,Frequent Cigar Smoker,Frequent,%,NaN,NaN,NaN,NaN,NaN,Overall,All Ages,Pacific Islander,High School,"(43.625381239, -72.517640791)",153BEH,181CIG,2
2015,Kentucky,Tobacco Use - Survey Data,Smokeless Tobacco Use (Youth),User Status,Frequent Smokeless Tobacco User,Frequent,%,NaN,NaN,NaN,NaN,NaN,Overall,All Ages,Asian,Middle School,"(37.645970271, -84.774971048)",151BEH,168SSP,2

In [31]:
df1['Data_Value_Std_Err'].unique()

array([ 4.4,  2.9,  2.2,  nan,  0.2,  3.9,  1.1,  3. ,  2.1,  0.7,  2.3,
        0.1,  0. ,  1.2,  1. ,  2.4,  0.9,  4.5,  4.3,  0.6,  0.4,  1.3,
        0.8,  1.7,  1.6,  1.4,  0.3,  2.7,  1.5,  3.7,  3.4,  0.5,  1.9,
        2.8,  1.8,  3.2,  2. ,  2.6,  3.1,  2.5,  3.5,  6.2,  4.6,  5.2,
        5.6,  4.1,  9.4,  4.9,  4. ,  3.6,  5.4,  4.2,  4.7,  5.3,  4.8,
        5.5,  6.1,  7.7,  3.8,  3.3,  6.4,  5.8,  5.1,  7. , 11.9,  9.7,
        8.4,  7.1,  5. ,  7.6, 11.1, 11. ,  6. ,  6.5,  8.7,  6.7, 10.5,
        6.3, 11.8,  7.5, 12. , 11.5,  7.3,  9.5,  9.8,  8.9,  8.8,  6.9,
       11.7,  8.6,  6.6,  5.7,  7.2,  5.9,  7.8,  6.8, 10.2, 10. , 10.8,
       12.6, 10.3,  7.4,  7.9, 12.2,  8.5,  8. , 10.4,  9.6, 12.5,  8.1,
       11.6, 11.2,  9.9,  9.2,  9.3,  9. , 13.3, 10.1, 12.8,  8.2])

In [32]:
df1['Low_Confidence_Limit'].unique()

array([13.3,  7.1, 18.2,  nan,  0. , 23.9, 12. ,  7.6,  5.5,  0.4, 35.2,
       13.4,  1. ,  1.4,  0.1, 36.7, 13.8, 36. , 31.2,  1.2,  1.3,  0.6,
        8.3,  6.4, 25.5,  5.3,  0.7,  0.3,  9.7,  6.8, 19.8,  1.9,  4.6,
        5.2, 17. ,  4.8, 16. ,  8.6,  2.1, 30.9, 36.5,  4.2,  3.1, 41.7,
        3.6,  1.7, 23.5,  4.9,  7.8,  3.7, 20.1, 20. ,  2.4, 62.3,  2.5,
        9.2, 11.2,  2. , 38.7, 32.7, 11.7,  9.3,  2.6, 11.3,  0.8,  1.1,
        0.2,  7. ,  6.5,  7.3, 37.4, 48.4,  0.9, 26.8, 36.2,  0.5, 14.3,
        5.8,  2.7, 21.9, 32.1,  5.7,  9.5, 30.6, 38.3,  7.5,  7.9,  6.3,
        3.5,  2.9, 16.1,  1.8, 15.2, 22.6, 39.1,  7.4, 35.6, 34.2,  1.5,
       37.1,  2.8, 11.9, 14.6, 10.9,  9. , 22.1, 18.7,  5.4, 15.9, 17.1,
       17.6,  4.5, 14.8, 32.6, 28.2, 21.7,  4.7,  5.9, 27.2, 31.6,  4.3,
       19.5, 17.3,  6.7,  2.3, 12.7, 10.6, 41.6, 13.2, 26. , 20.4,  8.1,
       18.5,  5. ,  6.1, 13. ,  2.2, 32.3,  3. ,  8. , 39.5, 14. , 13.7,
        3.9,  7.2, 35.4,  9.1, 20.2, 37.8,  1.6, 11.4, 21. , 29.1,  9.6,
       21.6, 37.6, 10. , 14.4,  3.8,  8.8, 10.3,  9.9, 16.6, 16.5, 19.3,
       51.3, 27.1, 18.3, 35.7, 18. ,  3.3, 15. , 17.8, 28.5, 10.7,  4. ,
       49. , 24.3,  5.1,  6.9, 11.1,  4.4, 15.3, 24.6, 13.5, 15.7, 25.6,
       22.9, 16.8,  8.2, 14.1, 24.2, 13.6, 12.3, 24.5,  3.4, 39. ,  8.7,
       34.4, 18.1, 12.5, 37.5, 29.2, 19.7, 15.6, 16.2, 10.8,  4.1, 24.9,
        8.9,  6.2, 22.2,  6. , 29.3,  8.4, 22.5, 13.1, 30.7, 12.1, 45.9,
       20.8, 12.6, 11.5, 25.7, 14.9,  3.2, 10.1, 25.8, 12.9, 18.4, 30.8,
       33.6, 15.1,  9.4, 26.3, 34.3, 26.7, 42. , 29.4,  7.7, 10.5, 40.4,
       30.5, 16.3,  5.6, 33.2, 35.8, 27.9, 33.1, 18.8, 15.4, 12.8, 24.1,
       10.2, 17.5, 34.8, 17.2,  6.6, 16.4, 33.7, 24.4, 37.7, 27.7, 17.9,
       40.6, 41.5, 35.5, 22.7, 29. , 21.8, 36.6, 40.1, 14.7, 22.4, 28.6,
       39.9, 22.8, 34.6, 32.9, 28.3, 14.5, 20.7, 38.1, 34.1, 11. , 46.6,
       10.4,  8.5, 20.6, 32.8, 22.3, 25.1, 33.9, 21.3, 23.2, 66.7, 27.8,
       36.9, 38.2, 17.7, 32.5, 21.5, 35.9, 43.7, 37. , 30. , 12.2, 31.9,
       11.6, 40.9, 20.9, 26.4, 33.5, 37.3, 50.2, 38.4, 15.5, 34.5, 42.8,
       23.8, 15.8, 23.6, 49.8, 18.6, 13.9, 56.7, 46.1, 22. , 28.4, 25. ,
       42.5, 42.7, 45.5, 19.2, 28. , 35.1, 38.8, 44.7, 11.8, 38.5, 16.9,
       33.3, 29.6, 23.4, 24.8, 56.4, 37.9, 33.8, 14.2, 41.3, 19.9, 20.5,
       28.9, 39.6, 23.3, 32.2, 24. , 27.6, 24.7, 29.7, 34.9, 19.6,  9.8,
       30.4, 43.2, 41.8, 19. , 25.2, 16.7, 23. , 68.5, 28.8, 31.8, 39.3,
       28.1, 21.2, 47.5, 39.7, 31.1, 18.9, 29.8, 25.3, 33.4, 21.4, 29.5,
       28.7, 51.6, 31.3, 43.3, 12.4, 32.4, 41.9, 25.9, 32. , 19.1, 46. ,
       21.1, 17.4, 26.6, 25.4, 36.3, 42.4, 47.2, 31. , 44.6, 31.7, 39.8,
       38.9, 34.7, 36.4, 26.5, 40. , 45.4, 52.7, 43.9, 45.3, 23.1, 26.1,
       47.3, 33. , 27. , 45. , 20.3, 37.2, 40.8, 43.1, 35.3, 19.4, 43.4,
       44.4, 48. , 34. , 30.1, 36.8, 72. , 50.8, 60. , 42.2, 47. , 40.7,
       55.1, 56. , 53.7, 54.7, 58.3, 52.3, 74.4, 44.5, 51.8, 61.6, 58.8,
       59.1, 85. , 63.4, 69.7, 27.5, 31.5, 44.3, 54.6, 72.7, 49.9, 44.8,
       45.7, 39.2, 31.4, 62.1, 71.5, 62. , 64.4, 50.9, 50.3, 56.5, 55. ,
       45.2, 27.3, 72.6, 65. , 44.9, 65.1, 39.4, 48.8, 42.6, 65.7, 69.4,
       48.9, 54.3, 77.7, 62.7, 47.8, 52. , 53.5, 53.8, 70.8, 50.6, 45.8,
       29.9, 69.6, 64.7, 49.3, 68.1, 56.9, 41.1, 57.5, 61.9, 54.2, 26.9,
       47.7, 73.9, 66.6, 52.1, 73.7, 66.3, 68.8, 68. , 81.7, 62.9, 78.8,
       57.6, 61.7, 57. , 74.9, 74.2, 56.2, 43.6, 80. , 46.3, 50.5, 61.8,
       45.1, 40.3, 57.1, 75.6, 54.8, 48.5, 52.6, 53.2, 56.3, 46.9, 66.1,
       27.4, 45.6, 68.9, 48.6, 67. , 54.1, 68.4, 69.5, 74.8, 66.4, 51.5,
       52.9, 42.3, 46.5, 57.7, 55.7, 53.1, 49.2, 50.7, 68.7, 63.7, 63.9,
       64. , 68.2, 43.5, 47.4, 52.8, 63.8, 67.1, 67.8, 35. , 48.2, 69.1,
       51.2, 62.8, 67.3, 71. , 53.4, 69.2, 60.8, 72.1, 70. , 66.9, 54. ,
       59.7, 48.3, 53.3, 72.9, 61.4, 63. , 42.1, 40.5, 53.9, 64.1, 73.1,
       61.3, 47.9, 59. , 36.1, 54.9, 52.5, 26.2, 41.4, 46.8, 59.3, 72.4,
       46.2, 51.7, 51.1, 68.6, 73.3, 70.5, 58.6, 64.8, 49.7, 46.4, 61. ,
       65.8, 59.5, 70.4, 41.2, 70.1, 60.2, 44.1, 52.2, 58.9, 70.3, 69.9,
       64.5, 71.6, 62.4, 55.8, 30.2, 77.9, 30.3, 70.9, 38.6, 23.7, 51.9,
       54.4, 49.5, 47.1, 76. , 57.4, 57.8, 85.9, 66.8, 56.8, 58.7, 46.7,
       55.3, 47.6, 40.2, 70.2, 42.9, 65.2, 68.3, 49.1, 59.8, 55.6, 57.3,
       43. , 50. , 59.4, 41. , 55.9, 74. , 53. , 44.2, 51.4, 57.2, 64.9,
       75.4, 59.9, 60.3, 48.7, 59.6, 64.6, 67.5, 55.5, 65.9, 74.7, 67.7,
       52.4, 71.8, 44. , 66. , 71.2, 81.5, 58.1, 66.2, 63.5, 73.6, 38. ,
       58.5, 54.5, 66.5, 65.5, 48.1, 53.6, 58.4, 55.2, 73.4, 64.3, 43.8,
       90.5, 62.6, 67.9, 62.2, 51. , 76.7, 55.4, 74.5, 61.2, 56.6, 73.5,
       82.7, 50.4, 65.6, 69. , 60.4, 50.1, 74.6, 65.3, 58. , 63.3, 76.1,
       63.1, 59.2, 70.6, 72.5, 76.5, 67.2, 67.6, 57.9, 75.2, 67.4, 79.5,
       70.7, 60.1, 78.3, 73.8, 62.5, 65.4, 69.8, 69.3, 80.9, 56.1, 60.5,
       82.8, 75.9, 72.2, 63.6, 64.2, 49.4, 49.6, 61.1, 71.7, 76.2, 72.8,
       71.1, 74.3, 78.9, 72.3, 71.9])

In [33]:
df1['Sample_Size'].unique()

array([  116.,   230.,   756., ..., 27455.,  5239.,  1415.])

In [34]:
df1['High_Confidence_Limit'].unique()

array([31.3, 19.1, 27.4,  nan,  1. , 40.8, 16.6, 19.9, 13.7,  3.9, 45. ,
        0.7,  0.5, 29.7,  0.2,  4.3,  6.6, 10.4, 46.5, 18.8,  0.3, 39.7,
       49.3,  1.5,  1.4,  1.6, 26.3,  4.2,  7.8, 30.6, 15.3,  0. ,  4.4,
        4.9, 19. , 11.9, 28.8,  2.6,  6.1,  9.8,  9.5, 12.3, 21. ,  8.6,
       14.8,  7.5,  2.1,  9.2, 27.2, 12.9,  8.4, 45.9, 50.7, 10.3,  8. ,
        1.1, 51.2,  9. ,  3.8, 10.5,  2.2, 30.4,  5.5,  8.9, 19.4, 23.3,
       31.9,  2.9,  5.9, 69.4,  5.3,  5.1,  4.5, 26.2, 18. ,  3.2, 11.1,
        3.6, 43.8,  3.3,  1.2, 39.2, 17.3, 11. , 14.1, 17.9,  2.4,  7.1,
        9.3, 11.2, 11.3,  6.8, 61. ,  5.6, 31.8, 43.3,  6.5,  0.6,  1.8,
        4.8,  9.7,  7.9, 18.5, 10. , 29.1, 40.2, 17.7, 15.9, 11.4, 43.2,
       50.2, 14.4, 13.9,  3.4, 22.4,  3. ,  8.1, 26. , 33. ,  1.3,  2.8,
       44.5,  8.7, 20.2,  0.8, 46.7, 48.2,  4. , 45.2,  2.3, 15.7, 15.6,
       33.9, 28.3, 23.9,  8.3, 19.2, 24.9, 25.3,  8.2, 20.1, 25.8,  4.7,
       11.7, 16.3,  5.2,  9.1,  5. , 21.2, 34.1,  1.9,  5.7,  3.5,  2.5,
       41.4, 25.6, 27.5, 22. , 45.4,  6.7, 23.1,  0.4, 57. ,  7.7,  2.7,
       32. , 28.7, 25.1, 11.6,  6.9, 12. , 32.2, 21.3, 43.4, 12.8,  6.2,
       59.8, 37.6, 23.7,  1.7, 14.3, 20.5, 47.5,  6. , 10.9, 13.1, 46.9,
       17.8, 16.7, 24.1,  9.6, 33.8, 30.1, 18.2, 23.6, 50. , 15.8, 20. ,
        8.5, 17.5, 31.2, 25.2, 12.5, 22.9, 10.7, 59.3, 35.5, 75.6,  6.4,
       25.9, 13.8, 50.3,  4.6, 35.8,  4.1, 24.8,  5.4, 19.6,  7.2, 58.4,
        3.7, 24.2, 30.8, 43.9, 22.2, 15.4, 51.5, 26.4, 33.5, 20.4, 45.6,
       15. , 28.6, 18.4, 16.2, 34.2, 31.6, 42.7, 10.8, 28.1, 22.3, 34.6,
        0.9, 18.1,  2. , 34.5, 11.8, 28. , 24.5, 19.3, 23.4, 52.1, 36.6,
       37. , 20.7, 13.6,  9.4, 14.2, 46.3, 49.6, 24.4, 36.5, 34.9, 14.7,
        6.3, 42.9, 10.2, 28.9, 34.8, 14. ,  9.9, 30. , 22.6, 38.8, 38.4,
       20.3, 13.4,  7.6, 14.5, 33.2, 62.2, 21.8, 26.1, 22.5, 32.9,  7. ,
       17. , 16.9, 48.1, 19.5, 36.4, 48.4, 17.2, 27.1, 12.6,  7.4, 59.5,
       48.8, 36. , 29.9, 25.7, 11.5, 16.8, 65.6, 56.3, 23.8, 55.8, 38.6,
       25. , 13. , 26.5, 40.6, 15.2, 28.2, 39.3,  3.1, 47. , 19.8, 34.3,
       40.3, 42.8, 45.3, 10.1, 17.4, 46.4, 16.4, 12.2, 37.1, 27.6, 35. ,
        7.3, 15.1, 19.7, 21.1, 41.3, 60.5, 47.8, 37.4,  5.8, 21.6, 40.1,
       53.8, 38.7, 16.5, 53.1, 52.3, 44.9, 12.1, 16.1, 33.6, 33.3, 61.1,
       42.3, 56.4, 51.6, 30.5, 29.2, 44.7, 14.6, 31. , 41.8, 14.9, 56. ,
       27. , 32.6, 26.9, 18.6, 66. , 20.8, 35.9, 22.8, 32.1, 41.6, 31.5,
       58.9, 24.3, 30.3, 22.7, 49.1, 33.4,  8.8, 76.7, 33.7, 48.9, 32.4,
       25.4, 13.2, 47.9, 30.9, 13.3, 27.3, 12.7, 46.2, 21.7, 44.4, 53.3,
       30.7, 13.5, 24.7, 52.5, 56.9, 38.3, 42.1, 54.8, 44.8, 65.2, 20.9,
       42.2, 32.3, 47.2, 30.2, 45.7, 38. , 28.4, 62. , 35.1, 29.3, 29.8,
       50.6, 40.9, 65.5, 29.5, 18.7, 61.2, 21.5, 21.9, 38.9, 48.6, 27.9,
       22.1, 37.9, 16. , 52.8, 32.8, 54.5, 12.4, 36.3, 46.8, 26.6, 17.1,
       23. , 35.4, 32.7, 44.1, 47.3, 41.1, 50.4, 55.6, 40. , 64.9, 59.9,
       27.7, 37.2, 15.5, 59.4, 29. , 35.2, 31.1, 47.6, 40.7, 43.7, 36.8,
       39. , 42.5, 29.6, 39.6, 44.6, 10.6, 39.5, 20.6, 48. , 40.4, 24. ,
       54.2, 56.1, 43.5, 46. , 37.7, 57.1, 29.4, 76.5, 36.7, 26.7, 44.3,
       17.6, 59.7, 51.9, 46.6, 52.6, 49.2, 23.2, 47.7, 43.6, 31.7, 43. ,
       52.7, 51.1, 35.7, 49. , 54. , 18.3, 41.9, 58.7, 28.5, 50.8, 39.4,
       66.2, 53.5, 42. , 34.7, 36.9, 46.1, 47.4, 55.3, 63.4, 53. , 54.1,
       60. , 48.7, 41.7, 37.3, 48.3, 23.5, 43.1, 49.8, 65.7, 52.2, 36.2,
       37.5, 51.8, 18.9, 45.1, 53.4, 54.7, 45.8, 54.4, 26.8, 33.1, 62.3,
       56.5, 53.6, 53.2, 42.4, 39.8, 24.6, 57.5, 45.5, 27.8, 50.1, 32.5,
       38.5, 83. , 61.9, 59. , 49.9, 55.7, 69.1, 70.7, 21.4, 48.5, 73.8,
       36.1, 68.1, 61.5, 63.7, 67.5, 62.9, 57.9, 49.5, 79.2, 49.4, 63.1,
       72.5, 52.4, 95.9, 72. , 62.1, 74.8, 78.6, 35.3, 60.7, 69. , 25.5,
       92.2, 58.3, 57.4, 54.9, 58.8, 53.7, 65. , 39.9, 72.7, 66.1, 78.8,
       78.5, 44.2, 75.4, 31.4, 67.7, 56.2, 69.6, 63.2, 79. , 57.2, 86. ,
       74. , 57.7, 57.8, 51. , 77.9, 80.7, 76.4, 66.7, 68.4, 87.2, 77.8,
       41.5, 73.3, 63.9, 81. , 63.3, 40.5, 74.6, 74.7, 60.6, 62.5, 41. ,
       68.6, 78.1, 67.8, 67.2, 61.3, 34. , 54.6, 71.1, 34.4, 64.1, 55. ,
       79.6, 72.6, 64.3, 68.3, 60.1, 80.4, 73.6, 76.6, 74.9, 51.3, 91.9,
       88.2, 82.3, 42.6, 37.8, 64.8, 83.5, 83.3, 70.2, 88.7, 63. , 63.8,
       83.4, 58.1, 55.1, 86.8, 55.4, 60.2, 69.2, 60.8, 62.8, 63.6, 53.9,
       67.3, 81.5, 72.8, 59.2, 62.6, 73.5, 75.3, 71.6, 86.7, 61.6, 73. ,
       88.8, 88.1, 64.4, 73.7, 65.9, 76.9, 71.8, 68.7, 49.7, 72.1, 57.3,
       70.8, 73.1, 78.7, 47.1, 68.5, 77.2, 73.4, 80.9, 69.7, 74.2, 75. ,
       58.2, 77.7, 70.5, 71.7, 87.4, 76.2, 71.2,  0.1, 50.9, 59.6, 79.4,
       66.9, 57.6, 58.6, 78.4, 54.3, 59.1, 77.4, 70. , 80.1, 74.5, 60.4,
       44. , 50.5, 87.8, 67.6, 52. , 38.2, 41.2, 65.3, 55.2, 61.7, 70.4,
       72.9, 75.7, 64.6, 55.9, 51.7, 75.5, 76.3, 69.9, 79.7, 56.6, 77. ,
       72.2, 72.3, 67.4, 76.8, 58.5, 82.1, 64. , 68.9, 70.3, 39.1, 69.8,
       91.5, 82.4, 66.4, 76.1, 91.8, 56.8, 80.5, 52.9, 86.5, 35.6, 62.7,
       71.5, 68. , 66.6, 87. , 64.7, 94. , 74.1, 67.9, 38.1, 75.8, 66.3,
       79.5, 51.4, 77.3, 64.2, 79.9, 61.8, 78.9, 79.1, 79.8, 91.4, 67.1,
       62.4, 64.5, 69.5, 81.6, 81.1, 55.5, 71.9, 68.8, 60.9, 81.3, 77.5,
       73.9, 76. , 90.6, 79.3, 63.5, 92. , 71.4, 81.4, 72.4, 77.1, 56.7,
       89.2, 74.4, 70.6, 65.1, 60.3, 97.6, 70.9, 75.9, 81.2, 71.3, 86.2,
       78.2, 78.3, 83.9, 65.8, 69.3, 70.1, 71. , 85.9, 73.2, 65.4, 78. ,
       77.6, 82.8, 66.8, 85.7, 89.5, 87.6, 95.7, 61.4, 66.5, 58. , 83.8,
       93.8, 75.1, 82.5, 84.2, 68.2, 92.7, 75.2, 91.3, 84.3, 74.3, 81.9,
       86.1, 80.6, 85.4, 81.7, 84.6, 83.1])

In [35]:
df1=df1[['High_Confidence_Limit','Data_Value','Sample_Size','Low_Confidence_Limit','Data_Value_Std_Err']].fillna(df1[['High_Confidence_Limit','Data_Value','Sample_Size','Low_Confidence_Limit','Data_Value_Std_Err']].mean())

In [36]:
df1[df1.isnull().any(axis=1)]

Empty DataFrame
Columns: [High_Confidence_Limit, Data_Value, Sample_Size, Low_Confidence_Limit, Data_Value_Std_Err]
Index: []

In [37]:
df1['Data_Value']

YEAR
1999    20.900000
2005    11.800000
1997    22.400000
2007    13.715967
2015    13.715967
          ...
2011     7.200000
2015    13.715967
1995     5.100000
1993     7.600000
2001    76.700000
Name: Data_Value, Length: 38708, dtype: float64

In [38]:
df1.groupby('YEAR')['Data_Value'].sum()

YEAR
1993    15263.914476
1995    23301.128128
1997    27126.197920
1999    27504.676931
2001    31770.023263
2003    38295.381442
2005    42695.244486
2007    47808.917730
2009    47943.795015
2011    48844.980774
2013    45431.734521
2015    71764.269162
2017    63167.388503
Name: Data_Value, dtype: float64

In [39]:
df2.describe()

,YEAR,Data_Value,Data_Value_Std_Err,Low_Confidence_Limit,High_Confidence_Limit,Sample_Size,DisplayOrder
count,10600.000000,10080.000000,10080.000000,10083.000000,10080.000000,10080.000000,10600.000000
mean,2007.053491,20.336806,1.851429,16.715253,23.961806,1483.412897,8.106887
std,5.462656,21.168271,1.777441,18.575128,23.981915,2189.565233,3.076806
min,1999.000000,0.000000,0.000000,0.000000,0.000000,50.000000,1.000000
25%,2002.000000,3.000000,0.600000,1.700000,4.300000,671.000000,7.000000
50%,2006.000000,10.550000,1.300000,7.900000,13.200000,1001.000000,9.000000
75%,2011.000000,36.425000,2.400000,29.600000,42.500000,1642.000000,11.000000
max,2017.000000,98.000000,16.100000,97.600000,98.400000,36910.000000,12.000000

In [40]:
df2.describe(include='O') # '0'  stands for object

,LocationAbbr,LocationDesc,TopicType,TopicDesc,MeasureDesc,DataSource,Response,Data_Value_Unit,Data_Value_Type,Data_Value_Footnote_Symbol,...,Education,GeoLocation,TopicTypeId,TopicId,MeasureId,StratificationID1,StratificationID2,StratificationID3,StratificationID4,SubMeasureID
count,10600,10600,10600,10600,10600,10600,8190,10600,10600,517,...,10600,10596,10600,10600,10600,10600,10600,10600,10600,10600
unique,50,50,1,3,4,2,3,1,1,1,...,2,50,1,3,4,3,1,1,2,12
top,MS,Mississippi,Tobacco Use – Survey Data,Cigarette Use (Youth),Smoking Status,YTS,Ever,%,Percentage,*,...,Middle School,"(32.745510099, -89.538030825)",BEH,106BEH,166SSA,1GEN,8AGE,6RAC,1EDU,YTS08
freq,651,651,10600,4107,4107,10566,2730,10600,10600,517,...,5633,651,10600,4107,4107,3556,10600,10600,5633,1377

In [41]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10600 entries, 0 to 10599
Data columns (total 31 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   YEAR                        10600 non-null  int64
 1   LocationAbbr                10600 non-null  object
 2   LocationDesc                10600 non-null  object
 3   TopicType                   10600 non-null  object
 4   TopicDesc                   10600 non-null  object
 5   MeasureDesc                 10600 non-null  object
 6   DataSource                  10600 non-null  object
 7   Response                    8190 non-null   object
 8   Data_Value_Unit             10600 non-null  object
 9   Data_Value_Type             10600 non-null  object
 10  Data_Value                  10080 non-null  float64
 11  Data_Value_Footnote_Symbol  517 non-null    object
 12  Data_Value_Footnote         517 non-null    object
 13  Data_Value_Std_Err          10080 non-null  float64
 14  Low_Confidence_Limit        10083 non-null  float64
 15  High_Confidence_Limit       10080 non-null  float64
 16  Sample_Size                 10080 non-null  float64
 17  Gender                      10600 non-null  object
 18  Race                        10600 non-null  object
 19  Age                         10600 non-null  object
 20  Education                   10600 non-null  object
 21  GeoLocation                 10596 non-null  object
 22  TopicTypeId                 10600 non-null  object
 23  TopicId                     10600 non-null  object
 24  MeasureId                   10600 non-null  object
 25  StratificationID1           10600 non-null  object
 26  StratificationID2           10600 non-null  object
 27  StratificationID3           10600 non-null  object
 28  StratificationID4           10600 non-null  object
 29  SubMeasureID                10600 non-null  object
 30  DisplayOrder                10600 non-null  int64
dtypes: float64(5), int64(2), object(24)
memory usage: 2.5+ MB

In [42]:
df2.columns

Index(['YEAR', 'LocationAbbr', 'LocationDesc', 'TopicType', 'TopicDesc',
       'MeasureDesc', 'DataSource', 'Response', 'Data_Value_Unit',
       'Data_Value_Type', 'Data_Value', 'Data_Value_Footnote_Symbol',
       'Data_Value_Footnote', 'Data_Value_Std_Err', 'Low_Confidence_Limit',
       'High_Confidence_Limit', 'Sample_Size', 'Gender', 'Race', 'Age',
       'Education', 'GeoLocation', 'TopicTypeId', 'TopicId', 'MeasureId',
       'StratificationID1', 'StratificationID2', 'StratificationID3',
       'StratificationID4', 'SubMeasureID', 'DisplayOrder'],
      dtype='object')

In [43]:
df2 = df2.drop('LocationAbbr', axis=1)

In [44]:
df2.head()

,YEAR,LocationDesc,TopicType,TopicDesc,MeasureDesc,DataSource,Response,Data_Value_Unit,Data_Value_Type,Data_Value,...,GeoLocation,TopicTypeId,TopicId,MeasureId,StratificationID1,StratificationID2,StratificationID3,StratificationID4,SubMeasureID,DisplayOrder
0,2004,Ohio,Tobacco Use – Survey Data,Cigarette Use (Youth),Smoking Status,YTS,Ever,%,Percentage,32.2,...,"(40.060210141, -82.404260056)",BEH,106BEH,166SSA,1GEN,8AGE,6RAC,1EDU,YTS08,8
1,2008,Alabama,Tobacco Use – Survey Data,Cigarette Use (Youth),Smoking Status,YTS,Ever,%,Percentage,47.8,...,"(32.840571122, -86.631860762)",BEH,106BEH,166SSA,3GEN,8AGE,6RAC,2EDU,YTS08,8
2,2015,West Virginia,Tobacco Use – Survey Data,Smokeless Tobacco Use (Youth),User Status,YTS,Frequent,%,Percentage,12.7,...,"(38.665510202, -80.712640135)",BEH,151BEH,169USS,2GEN,8AGE,6RAC,2EDU,YTS12,12
3,2005,Illinois,Tobacco Use – Survey Data,Cigarette Use (Youth),Smoking Status,YTS,Ever,%,Percentage,28.5,...,"(40.485010283, -88.997710178)",BEH,106BEH,166SSA,1GEN,8AGE,6RAC,1EDU,YTS08,8
4,2005,Connecticut,Tobacco Use – Survey Data,Smokeless Tobacco Use (Youth),User Status,YTS,Ever,%,Percentage,20.5,...,"(41.56266102, -72.649840952)",BEH,151BEH,169USS,2GEN,8AGE,6RAC,2EDU,YTS11,11

In [45]:
df2=df2.set_index('YEAR')

In [46]:
df2.Data_Value.sort_values(ascending=False).head()

YEAR
2002    98.0
2002    97.9
2002    97.9
2002    96.2
2002    96.1
Name: Data_Value, dtype: float64

In [47]:
df2.Data_Value_Unit.value_counts()

%    10600
Name: Data_Value_Unit, dtype: int64

In [48]:
df2.drop(columns=['DataSource', 'TopicTypeId', 'Data_Value_Type','Response'], inplace=True)
df2.head()

,LocationDesc,TopicType,TopicDesc,MeasureDesc,Data_Value_Unit,Data_Value,Data_Value_Footnote_Symbol,Data_Value_Footnote,Data_Value_Std_Err,Low_Confidence_Limit,...,Education,GeoLocation,TopicId,MeasureId,StratificationID1,StratificationID2,StratificationID3,StratificationID4,SubMeasureID,DisplayOrder
YEAR,,,,,,,,,,,,,,,,,,,,,
2004,Ohio,Tobacco Use – Survey Data,Cigarette Use (Youth),Smoking Status,%,32.2,NaN,NaN,3.2,25.8,...,Middle School,"(40.060210141, -82.404260056)",106BEH,166SSA,1GEN,8AGE,6RAC,1EDU,YTS08,8
2008,Alabama,Tobacco Use – Survey Data,Cigarette Use (Youth),Smoking Status,%,47.8,NaN,NaN,2.9,42.1,...,High School,"(32.840571122, -86.631860762)",106BEH,166SSA,3GEN,8AGE,6RAC,2EDU,YTS08,8
2015,West Virginia,Tobacco Use – Survey Data,Smokeless Tobacco Use (Youth),User Status,%,12.7,NaN,NaN,1.9,9.0,...,High School,"(38.665510202, -80.712640135)",151BEH,169USS,2GEN,8AGE,6RAC,2EDU,YTS12,12
2005,Illinois,Tobacco Use – Survey Data,Cigarette Use (Youth),Smoking Status,%,28.5,NaN,NaN,2.2,24.2,...,Middle School,"(40.485010283, -88.997710178)",106BEH,166SSA,1GEN,8AGE,6RAC,1EDU,YTS08,8
2005,Connecticut,Tobacco Use – Survey Data,Smokeless Tobacco Use (Youth),User Status,%,20.5,NaN,NaN,2.3,16.0,...,High School,"(41.56266102, -72.649840952)",151BEH,169USS,2GEN,8AGE,6RAC,2EDU,YTS11,11

In [49]:
df2.drop(columns=['Data_Value_Footnote_Symbol','Data_Value_Footnote','TopicId', 'MeasureId',
       'StratificationID1', 'StratificationID2', 'StratificationID3',
       'StratificationID4', 'SubMeasureID'], inplace=True)

In [50]:
df2.head()

,LocationDesc,TopicType,TopicDesc,MeasureDesc,Data_Value_Unit,Data_Value,Data_Value_Std_Err,Low_Confidence_Limit,High_Confidence_Limit,Sample_Size,Gender,Race,Age,Education,GeoLocation,DisplayOrder
YEAR,,,,,,,,,,,,,,,,
2004,Ohio,Tobacco Use – Survey Data,Cigarette Use (Youth),Smoking Status,%,32.2,3.2,25.8,38.5,1377.0,Overall,All Races,All Ages,Middle School,"(40.060210141, -82.404260056)",8
2008,Alabama,Tobacco Use – Survey Data,Cigarette Use (Youth),Smoking Status,%,47.8,2.9,42.1,53.5,654.0,Female,All Races,All Ages,High School,"(32.840571122, -86.631860762)",8
2015,West Virginia,Tobacco Use – Survey Data,Smokeless Tobacco Use (Youth),User Status,%,12.7,1.9,9.0,16.4,781.0,Male,All Races,All Ages,High School,"(38.665510202, -80.712640135)",12
2005,Illinois,Tobacco Use – Survey Data,Cigarette Use (Youth),Smoking Status,%,28.5,2.2,24.2,32.8,1323.0,Overall,All Races,All Ages,Middle School,"(40.485010283, -88.997710178)",8
2005,Connecticut,Tobacco Use – Survey Data,Smokeless Tobacco Use (Youth),User Status,%,20.5,2.3,16.0,25.1,973.0,Male,All Races,All Ages,High School,"(41.56266102, -72.649840952)",11

In [51]:
df2[df2.isnull().any(axis=1)]

,LocationDesc,TopicType,TopicDesc,MeasureDesc,Data_Value_Unit,Data_Value,Data_Value_Std_Err,Low_Confidence_Limit,High_Confidence_Limit,Sample_Size,Gender,Race,Age,Education,GeoLocation,DisplayOrder
YEAR,,,,,,,,,,,,,,,,
2008,Minnesota,Tobacco Use – Survey Data,Cessation (Youth),Percent of Current Smokers Who Want to Quit,%,NaN,NaN,NaN,NaN,NaN,Female,All Races,All Ages,Middle School,"(46.355648736, -94.794200503)",3
2003,Utah,Tobacco Use – Survey Data,Cessation (Youth),Percent of Current Smokers Who Want to Quit,%,NaN,NaN,NaN,NaN,NaN,Male,All Races,All Ages,Middle School,"(39.360700171, -111.587130635)",2
2004,Wisconsin,Tobacco Use – Survey Data,Cessation (Youth),Percent of Current Smokers Who Want to Quit,%,NaN,NaN,NaN,NaN,NaN,Female,All Races,All Ages,Middle School,"(44.393191174, -89.816370742)",3
2016,Wisconsin,Tobacco Use – Survey Data,Cessation (Youth),Quit Attempt in Past Year Among Current Cigare...,%,NaN,NaN,NaN,NaN,NaN,Male,All Races,All Ages,Middle School,"(44.393191174, -89.816370742)",5
2014,Minnesota,Tobacco Use – Survey Data,Cessation (Youth),Quit Attempt in Past Year Among Current Cigare...,%,NaN,NaN,NaN,NaN,NaN,Female,All Races,All Ages,Middle School,"(46.355648736, -94.794200503)",6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2009,Mississippi,Tobacco Use – Survey Data,Cessation (Youth),Percent of Current Smokers Who Want to Quit,%,NaN,NaN,NaN,NaN,NaN,Female,All Races,All Ages,Middle School,"(32.745510099, -89.538030825)",3
2015,Connecticut,Tobacco Use – Survey Data,Cessation (Youth),Quit Attempt in Past Year Among Current Cigare...,%,NaN,NaN,NaN,NaN,NaN,Female,All Races,All Ages,Middle School,"(41.56266102, -72.649840952)",6
2003,Wisconsin,Tobacco Use – Survey Data,Cessation (Youth),Percent of Current Smokers Who Want to Quit,%,NaN,NaN,NaN,NaN,NaN,Male,All Races,All Ages,Middle School,"(44.393191174, -89.816370742)",2
2008,Pennsylvania,Tobacco Use – Survey Data,Cessation (Youth),Percent of Current Smokers Who Want to Quit,%,NaN,NaN,NaN,NaN,NaN,Male,All Races,All Ages,Middle School,"(40.793730152, -77.860700294)",2
2010,Wisconsin,Tobacco Use – Survey Data,Cessation (Youth),Quit Attempt in Past Year Among Current Cigare...,%,NaN,NaN,NaN,NaN,NaN,Female,All Races,All Ages,Middle School,"(44.393191174, -89.816370742)",6

In [52]:
df2=df2[['High_Confidence_Limit','Data_Value','Sample_Size','Low_Confidence_Limit','Data_Value_Std_Err']].fillna(df2[['High_Confidence_Limit','Data_Value','Sample_Size','Low_Confidence_Limit','Data_Value_Std_Err']].mean())

In [53]:
df2[df2.isnull().any(axis=1)]

Empty DataFrame
Columns: [High_Confidence_Limit, Data_Value, Sample_Size, Low_Confidence_Limit, Data_Value_Std_Err]
Index: []

In [54]:
df2.groupby('YEAR')['Data_Value'].sum()

YEAR
1999     9699.100000
2000    32558.409722
2001     9937.420833
2002    25504.099306
2003    10578.978472
2004    12639.204167
2005    13829.272917
2006    11248.925694
2007    10333.909722
2008     8852.209722
2009    12589.277778
2010     8004.209722
2011     9315.483333
2012     3889.872917
2013    11625.887500
2014     5390.014583
2015     9094.465972
2016     3590.872222
2017     6888.524306
Name: Data_Value, dtype: float64

In [55]:
df1.head()

,High_Confidence_Limit,Data_Value,Sample_Size,Low_Confidence_Limit,Data_Value_Std_Err
YEAR,,,,,
1999,31.300000,20.900000,116.000000,13.300000,4.40000
2005,19.100000,11.800000,230.000000,7.100000,2.90000
1997,27.400000,22.400000,756.000000,18.200000,2.20000
2007,17.332651,13.715967,1695.411864,11.135267,1.46047
2015,17.332651,13.715967,1695.411864,11.135267,1.46047

In [56]:
df2.head()

,High_Confidence_Limit,Data_Value,Sample_Size,Low_Confidence_Limit,Data_Value_Std_Err
YEAR,,,,,
2004,38.5,32.2,1377.0,25.8,3.2
2008,53.5,47.8,654.0,42.1,2.9
2015,16.4,12.7,781.0,9.0,1.9
2005,32.8,28.5,1323.0,24.2,2.2
2005,25.1,20.5,973.0,16.0,2.3

In [61]:
df=df1.merge(df2, on='YEAR',how = 'left')
df.head()

,High_Confidence_Limit_x,Data_Value_x,Sample_Size_x,Low_Confidence_Limit_x,Data_Value_Std_Err_x,High_Confidence_Limit_y,Data_Value_y,Sample_Size_y,Low_Confidence_Limit_y,Data_Value_Std_Err_y
YEAR,,,,,,,,,,
1999,31.3,20.9,116.0,13.3,4.4,3.9,2.8,1029.0,1.7,0.6
1999,31.3,20.9,116.0,13.3,4.4,2.9,2.2,8371.0,1.5,0.4
1999,31.3,20.9,116.0,13.3,4.4,61.6,47.3,79.0,33.0,7.3
1999,31.3,20.9,116.0,13.3,4.4,46.7,42.5,898.0,38.3,2.1
1999,31.3,20.9,116.0,13.3,4.4,3.3,1.8,573.0,0.3,0.8

In [64]:
df.groupby('YEAR')[['Data_Value_x','Data_Value_y']].sum()

      Data_Value_x  Data_Value_y
YEAR
1993  1.526391e+04  0.000000e+00
1995  2.330113e+04  0.000000e+00
1997  2.712620e+04  0.000000e+00
1999  1.023174e+07  1.520819e+07
2001  1.353403e+07  2.045121e+07
2003  1.907110e+07  2.769577e+07
2005  2.715418e+07  4.010489e+07
2007  2.466940e+07  3.616868e+07
2009  3.288944e+07  4.660551e+07
2011  2.544823e+07  3.703836e+07
2013  3.112074e+07  4.841020e+07
2015  4.140798e+07  4.941933e+07
2017  3.436306e+07  3.892016e+07